<a href="https://colab.research.google.com/github/SosnovskayaYana/FinalControlTest/blob/main/last_dz_py_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [44]:
import pandas as pd

In [45]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

###Создаем новые столбцы, присваиваем им значение False

In [46]:
data = pd.DataFrame().assign(robot=False, human=False)

###Функция check_value проверяет значение в каждой строке. Ставит True, если значение в столбце 'whoAmI' совпадает с искомым значением.

In [48]:
def check_value(row):
    if row['whoAmI'] == 'robot':
        row['robot'] = True
    elif row['whoAmI'] == 'human':
        row['human'] = True
    return row

###Применяем функцию check_value

In [49]:
data = data.assign(whoAmI=lst).apply(check_value, axis=1)

In [50]:
print(data.head())

  robot human whoAmI
0  True   NaN  robot
1  True   NaN  robot
2  True   NaN  robot
3  True   NaN  robot
4  True   NaN  robot

###Удаляем столбец 'whoAmI'

In [51]:
data = data.drop(columns=['whoAmI'])

In [52]:
print(data.head())

  robot human
0  True   NaN
1  True   NaN
2  True   NaN
3  True   NaN
4  True   NaN